@import url("https://use.typekit.net/gmy4zwz.css");

body {
    font-family: "scale-variable", sans-serif;
    background-color: #019245;
}

.h1 { 
    font-variation-settings: "wght" 400, "wdth" 100;
    font-size: 6em;
    color: #F3DF5F;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 50px;
    animation: title .9s linear;
}

@keyframes title {
    0% {
        font-size: 12em;
        opacity: 0;
    }
    25% {
        font-size: 10.5em;
    }
    50% {
        font-size: 8.5em;
    }
    75% {
        font-size: 6.5em;
    }
    100% {
        font-size: 6em;
        opacity: 1;
    }
}

.h2 {
    font-variation-settings: "wght" 200, "wdth" 100;
    font-size: 1.3em;
    letter-spacing: 1px;
    color: #F3DF5F;
    position: fixed;
    top: 148px;
    left: 0;
    margin-left: 50px;
}

.p {
    font-variation-settings: "wght" 200, "wdth" 100;
    font-size: 1em;
    color: #F3DF5F;
    position: fixed;
    top: 220px;
    left: 0;
    margin-left: 50px;
}

.borough-label {
    font-variation-settings: "wght" 250, "wdth" 100;
    font-size: 1.4em;
    color: #F3DF5F;
    letter-spacing: 1px;

    position: absolute;
    top: -30px; /* Adjust this value to position the label above the ball */
    left: 50%;
    transform: translateX(-50%);
}


